body{
    height: 100%;
    background-color: rgb(33, 37, 41);
}
a{
    text-decoration:none !important;
    }
    h1,h2,h3{
    
    }
     .myform{
    margin-top: 60px;
   position: relative;
   display: -ms-flexbox;
   display: flex;
   padding: 1rem;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: 1.1rem;
   outline: 0;
   max-width: 500px;
    }
    .tx-tfm{
    text-transform:uppercase;
    }
    .mybtn{
    width: 100%!important;
    }
   
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    .google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
    }
     form .error {
    color: #ff0000;
    }
    #second{display:none;}
    #navb{
        background-color:#4d6cea!important;
    }
    #navb a{
        color: #fff;
        font-weight: 500;
        font-size: 25px;
    }
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    .form{
        text-align: center;
    }
    .form label{
        color : #fff!important;
    }
 
    #photo , #form{
        background-color: #fff!important;
        text-align:left!important;
    }
    #btnZaSliku{
    }
    #formaAdd label{
        color : #fff!important;

    }
    input[type="file"]{
        border-color: #fff!important;
        color:white;
    }
    #cont{
        margin-top:20px;
    }
    .moja{
        margin: 12px;
    }
    table{
        border-color:#fff!important;
        
    }
    tr, th{
        color : #fff;
    }
    td img{
        width:100px;
    }
    #fix{
        color: black;
    }